<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos index</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">

        <!-- Mensaje de bienvenida -->
        <div class="alert alert-success mt-4">
            Bienvenido!
        </div>


        <h1 class="my-4">Listado de Productos</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Descripción</th>                    
                    <th>Stock</th>
                    <th>Precio</th>  
                    <th>Categoria</th>  

                    <th></th>  
                </tr>
            </thead>
            <tbody>
                {{#each products.docs}}
                    <tr>
                        <td>{{@index}}</td>
                        <td>{{this.title}}</td>
                        <td>{{this.description}}</td>                        
                        <td>{{this.stock}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.category}}</td>
                        <td><a href="/products/{{this._id}}" class="btn btn-primary">Descripción</a></td>
                    </tr>
                {{/each}}            
            </tbody>
        </table>

        <a href="/api/auth/profile" class="btn btn-warning">Ver perfil <i class="bi bi-person"
      ></i></a>

<!--  -->
       <div class="pagination-container">
            <div class="pagination-left">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {{#if products.hasPrevPage}}
                            <li class="page-item">
                                <a class="page-link" href="/home?page={{products.prevPage}}&&limit=5">Previous</a>
                            </li>
                        {{/if}}

                        {{#if products.hasNextPage}}
                            <li class="page-item">
                                <a class="page-link" href="/home?page={{products.nextPage}}&&limit=5">Next</a>
                            </li>
                        {{/if}}
                    </ul>
                </nav>
            </div>
            <div class="pagination-right">
                <p> 
                    Current Page: {{products.page}} / {{products.totalPages}}
                </p>
            </div>
            <a href="/api/auth/logout" class="btn btn-danger">Cerrar sesion <i
        class="bi bi-box-arrow-right"
      ></i></a>
        </div>
    </div>




    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>

    <script src = "/socket.io/socket.io.js"></script>
    <script src = "/js/home.js"></script>
   
